.myCategories {
  margin-bottom: $mg-2;
  // width: 1536px;
  // margin: auto;
  .categories_content {
    width: 80%;
    margin: auto;
    .categories_list {
      .slick-slider {
        .slick-arrow {
          color: $color-red-0;
          z-index: 99999;
          &.slick-next:before,
          &.slick-prev::before {
            color: $color-red-0;
            font-size: $fs-2;
          }
          &.slick-disabled::before {
            opacity: 0;
          }
        }
        .slick-list {
          margin: 0 -9px;
          .slick-track {
            .slick-slide {
              padding: 0 9px;
              div {
                .card {
                  .card-body {
                    .card-title {
                      height: 1.2rem;
                      @include text($color-black-0, $fs-0, $fw-bold);
                    }
                    .card-text {
                      @include text($color-gray-4, $fs-1, $fw-normal);
                    }
                    .button {
                      .btn {
                        outline: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
