* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  // text-align: left;
  // width: 100rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $fs-0;
  color: $color-black-0;
  background: $color-white-0;
  line-height: $line-height;
}
